# Pipeline ETL
pandas
numpy
scikit-learn
pandera
requests
joblib
python-dotenv

# Dashboard
streamlit
plotly

# API (no se usa en Streamlit Cloud pero se mantiene para despliegue local/Docker)
fastapi
uvicorn

# Testing (no se usa en Streamlit Cloud, solo local)
pytest
pytest-html
httpx
